<%- include("./partials/header") %>


    <form action="/platforms/new/" method="POST">

        <label>Platform:</label>
        <input value="<%= typeof name !== 'undefined' ? name : '' %>" placeholder="PS5" type="text" name="platform"
            id="platform" required>

        <label>Manufacturer: </label>
        <input value="<%= typeof manufacturer !=='undefined' ? manufacturer: '' %>" placeholder="Sony" type="text"
            name="manufacturer" id="manufacturer" required>

        <label>Release Year: </label>
        <input value="<%= typeof release_year !=='undefined' ? release_year: '' %>" placeholder="2025" type="text"
            name="releaseYear" id="releaseYear" required>

        <button type="submit">Submit</button>
        <a class="card-link" href="/">Back to home</a>

        <% if (typeof errors !=='undefined' ) { %>
            <ul class="errors">
                <% errors.forEach(err=> { %>
                    <li>
                        <%= err.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
    </form>

    <%- include("./partials/footer") %>