<%- include("./partials/header") %>

    <form action="/games/<%= game.id %>/edit" method="POST">

        <label>Game Title:</label>
        <input value="<%= game.title %>" type="text" name="gameTitle" id="gameTitle" required>

        <label>Publisher: </label>
        <input value="<%= game.publisher %>" type="text" name="gamePublisher" id="gamePublisher" required>
        <label>Genre: </label>
        <input value="<%= game.genre %>" type="text" name="gameGenre" id="gameGenre" required>

        <label>Release Year: </label>
        <input value="<%= game.release_year %>" type="text" name="releaseYear" id="releaseYear" required>

        <button type="submit">Submit</button>
        <a class="card-link" href="/">Back to home</a>
    </form>

    

    <%- include("./partials/footer") %>