<%- include("./partials/header") %>

    <h2>All Platforms</h2>

    <div class="list">
        <div class="card-add">
            <a class="card-link" href="/platforms/new">
                <h2 class="card-link">Add new</h2>
            </a>
        </div>
        <% platforms.forEach(platform=> { %>
            <div class="card">
                <h2>
                    <%= platform.name %>
                </h2>

                <p>Manufacturer: <%= platform.manufacturer %>
                </p>
                <p>Release Year: <%= platform.release_year %>
                </p>
                <div class="card-link-flex">
                    <a class="card-link" href="/platforms/<%= platform.id %>">View Games</a>
                    <a class="card-link" href="/platforms/<%= platform.id %>/edit">Edit Platform</a>
                </div>
            </div>
            <% }) %>





                <%- include("./partials/footer") %>