<%- include ("./partials/header") %>

    <h2>
        <%= platform.name %> Games
    </h2>
    <div class="list">

        <% games.forEach(game=> { %>
            <div class="card">
                <p><%= game.title %>
                </p>
                <p>Genre: <%= game.genre %>
                </p>
                <p>Release Year: <%= game.release_year %>
                </p>
                <p>Publisher: <%= game.publisher %>
                </p>
                <a href="/games/<%= game.id %>/edit">Edit</a>
            </div>
            <% }) %>



    </div>
    <%- include ("./partials/footer") %>