<%- include("./partials/header") %>


    <form action=<%=formAction %> method="POST">

        <label>Platform:</label>
        <input value="<%= platform?.platformName || ''%>" placeholder="PS5" type="text" name="platformName" id="platformName" required>

        <label>Manufacturer: </label>
        <input value="<%=platform?.manufacturer || ''%>" placeholder="Sony" type="text" name="manufacturer"
            id="manufacturer" required>

        <label>Release Year: </label>
        <input value="<%=platform?.release_year || '' %>" placeholder="2025" type="text" name="releaseYear"
            id="releaseYear" required>

        <button type="submit">Submit</button>
        <a class="card-link" href="/">Back to home</a>

        <% if (typeof errors !=='undefined' ) { %>
            <ul class="errors">
                <% errors.forEach(err=> { %>
                    <li>
                        <%= err.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
    </form>

    <%- include("./partials/footer") %>