<%- include ("./partials/header") %>

    <h2 class="highlight">
        <%= platform.name %> Games
    </h2>

    <div class="list">
        <div class="card-add">
            <a class="card-link" href="/platforms/<%= platformId %>/games/new">
                <h2 class="card-link">Add new games</h2>
            </a>
        </div>
        <% games.forEach(game=> { %>
            <div class="card">
                <h2>
                    <%= game.title %>
                </h2>
                <p>Genre: <%= game.genre %>
                </p>
                <p>Release Year: <%= game.release_year %>
                </p>
                <p>Publisher: <%= game.publisher %>
                </p>
                <a class="card-link" href="/platforms/<%= platformId %>/games/<%= game.id %>/edit">Edit</a>
            </div>
            <% }) %>



                <%- include ("./partials/footer") %>